.appbarcontainer{
 position: absolute;
 width: 100vw;
 height: 50px;
 background-color: white;
//  background: white;  

//  background: -webkit-linear-gradient(to left, #00CFFD, #FF5F5F);  
//  background: linear-gradient(to left, #CECECE, #FFFFFF); 

}
.logoutButton{
    border: 2px outset #CCC9C9;
    font-size: 12px;
    text-shadow: 0.5px 0.4px #000000;
    color: #888686;
    height: 12px;
    border-radius: 10px;
    padding: 3px;
    position: absolute;
    top:30%;
    right: 6%;
}
.logoutButton:hover{
    border: 5px outset #CCC9C9;
    cursor: pointer;
}

.Appbarserchtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color:#3A3A3A;
    font-size: 20px;
}
