.detailsContainer{
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    background-color: #920000;
    .favicon{
        padding:6px;
        position: relative;
        top:65px;
        left:10px;
        border:3px solid red;
        border-radius: 25px;
        color:white;
    }
    .detailsson{
        img{
            width:100vw;
        }
        .titlebackground{
            background-color: black;
            #foodtitle{
                position: absolute;
                background-color: rgba(58, 58, 58, 0.66);
                text-align: center;
                color: #E4E4E4;
                padding-top: 5px;
                // background-color: black;
                height: 20px;
                width: 100vw;
                margin-top:-40px;
            }
        }
        #seconddetailsson{
            text-align: center;
            width:100vw;
            padding-bottom: 10px;
            margin-top:10%;
            color:#E6E6E6;
            #detailsingredientstitle{
                font-size:18px;
            }
            #ingredientsmap{
                margin-top:12px;
                
                .oneingredient{
                    margin:5px;
                    display: flex;
                    justify-content: center;
                }
                .unit{
                    font-style: italic;
                    color:#C5C2C2;
                }
            }
            .detailquestion{
                font-style: italic;
                color:#C7E7C5;
                display: flex;
                justify-content: center;
            }
        }
    }
}
    @media (min-width: 1200px){
        .detailsContainer{
            position: absolute;
            width: 100vw;
            background-color: #920000;
            #detailsMainContainer{
                display: flex;
                img{
                    height: 100vh;
                    width: auto;
                    max-width:70vw;
                }
                .titlebackground{
                    background-color: black;
                    #foodtitle{
                        position: absolute;
                        background-color: rgba(58, 58, 58, 0.66);
                        text-align: center;
                        color: #E4E4E4;
                        padding-top: 5px;
                        height: 20px;
                        width: 100vw;
                        margin-top:-50px;
                    }
                }
                #seconddetailsson{
                    text-align: center;
                    width:100vw;
                    margin-top:10%;
                    color:#E6E6E6;
               
                    #ingredientsmap{
                  
                        .oneingredient{
                            margin:5px;
                            display: flex;
                            justify-content: center;
                        }
                        .unit{
                            font-style: italic;
                            color:#C5C2C2;
                        }
                    }
                    .detailquestion{
                        font-style: italic;
                        color:#C7E7C5;
                    }
                }
            }
        }
    }





#detailsingredientstitle{
    font-size: 25px !important;
    text-shadow: 1.2px 1.2px #3B3B3B;
}

#ingredientsmap , .instructionBody, .nutritionRenderBody{
    margin-top:12px;
    
    -webkit-animation: ingredientsmap 0.45s ease-out both;
    animation: ingredientsmap 0.45s ease-out both;
}

@-webkit-keyframes ingredientsmap {
    0% {
      -webkit-transform: translateZ(-800px) rotateX(90deg);
              transform: translateZ(-800px) rotateX(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateX(87deg);
              transform: translateZ(-160px) rotateX(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateX(0);
              transform: translateZ(0) rotateX(0);
    }
  }

@keyframes ingredientsmap {
    0% {
      -webkit-transform: translateZ(-800px) rotateX(90deg);
              transform: translateZ(-800px) rotateX(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateX(87deg);
              transform: translateZ(-160px) rotateX(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateX(0);
              transform: translateZ(0) rotateX(0);
    }
  }
  