.EasterEgg {
    h1 {
        font-size: 32px;
        position: relative;
        text-align: center;
        top: 50px;
    }
    .img_container {
        display: block;
        position: absolute;
        height: calc(100vh - 50px);
        top: 50px;
        z-index: -1;
    }
    .easteregg {
        -webkit-animation: easteregg 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: easteregg 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation-delay: 1s;
                position: relative;
                height: 100%;
                width: 100%;
    }
    @-webkit-keyframes easteregg {
        0% {
            -webkit-transform: scale(0);
                    transform: scale(0);
            -webkit-transform-origin: 0% 100%;
                    transform-origin: 0% 100%;
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(100%);
                    transform: scale(100%);
            -webkit-transform-origin: 0% 100%;
                    transform-origin: 0% 100%;
            opacity: 1;
        }
    }
    @keyframes easteregg {
        0% {
            -webkit-transform: scale(0);
                    transform: scale(0);
            -webkit-transform-origin: 0% 100%;
                    transform-origin: 0% 100%;
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(100%);
                    transform: scale(100%);
            -webkit-transform-origin: 0% 100%;
                    transform-origin: 0% 100%;
            opacity: 1;
        }
    }
}

@media (min-width: 700px){
    .img_container {
        width: 650px;
        height: auto;
        margin-left: calc(50% - 325px);
    }
    .easteregg {
        height: 100%;
        width: 100%;
    }
}