.initializeContainer{
    background-image: url("../img/profileBackground.jpg");
    background-position: center;
    min-height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;

    .top{
        font-size: 1em;
        position: relative;
        top:22vh;
        text-align: center;
        }

    .addtocartbutton{
        position: relative;
        top: 2vh;

        button{
            min-height: 100%;
        }
    }
    .initCupboardmap{
     position: relative;
     left:47vw;
     top: 15vh;
    }
}