.profilePageContainer{
    padding: 0 25px;
    // background-color: #F8FFD3;
    .profileMainContainer{
        padding-top: 65px;
        span {
            width: 40vw;
            display: inline-block;
        
        .profileinput{
            margin-top: 5px;
            width: 40vw;
        }
        }
        .rightSide{
            width: calc(40vw-100px);
            height: 85vh;
            float: right;
            border: 2px solid black;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            text-align: center;
            background-color: yellow;
            border: 7px inset gray; 
            margin:5px;
            .resultText{
                height:85vh;
                width:100%;
                background-color: #FFFFE1;
            }
        }

    }
}