.resultsContainer{
    text-align: center;
    header{
            font-size: 35px;
            margin: 10vh 0 5vh 0;
        }

    
    .gridContainer{
        // padding: 10px;
        background-color: rgb(185, 185, 6);
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-gap: 10px;
        // justify-items: center;
        .imgDiv{
            position: relative;
            .favicon{
                font-size: 1.5em;
                height: 20px;
                width: 20px;
                // background-color: white;
                position: absolute;
                top: 22px;
                right: 7px;
                color: red;
                border: 2px solid white;
                border-radius: 15px;
                padding: 2x;
                z-index: 0;
                display: none;
            }
            img{
                height: calc(100vh/3.5);
                position: relative;
                top:0;
                margin:5% 0;
                box-shadow: 0 30px 20px -20px black;
                border: 2px solid white;
                img:hover{
                    display: none;
                }
                // width: 40vw;
            }
            }
            .resultsTitle{
                text-shadow: 0 0 2px #FFFFFF;
                font-size: 1.3em;
            }
}
img:hover{
    transform: scale(1.1);
}
// width: 40vw;


}