.modalcontainer{
    position: absolute;
    // top:0;
    // left:0;
    width: 70%;
    height: 30%;
    background-color: rgba(104, 104, 104, 0.87);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 99999;
    
}

.nutritionselect{
    width:80px;
    height:20px;
    background-color: #FFCD29;
    font-size: 15px;

}

.calorieSelect{
    width:150px;
    height:20px;
    background-color: #FFCD29;
    font-size: 15px;
}

option{
    text-align: center;
}

#searchmodalbutton{
    width:80px;
    height: 30px;
    background-color: orange;
    margin-top: 70px !important;
}

.buttonfamily{
    // background-color: green;
    height:10%;
    display: flex;
    align-items: center;
}

 #SearchModalCloseButton{
    margin-left:60px;
    width:30px !important;
    height: 30px !important;
}

.SearchModalTwoButtons{
    padding-top: 70px;
}

.selectfamily{
    margin-top: 70px;
    padding-left:10px;
}