.SearchPageContainer{
    background-image: url("../img/bgimage1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%; }

    button{
        background-color: pink;
        border-radius: 5px;
        height: 35px;
        margin: 8px;
    }
    .searchParamDisplay{
        border: 2px solid white;
        padding: 10px;
        margin: 10px;
    }
    .menubutton {
        width: 100px;
        height: 50px;
        position: absolute;
        top: 5%;
        right: 5%;
        // background-color: red;
        background-image: url('../img/menuicon.png');
        background-repeat: no-repeat;
        background-size: cover;

    }

    
.searchPage, .input {
        height: 35px;
        margin: 4px;
        width: 50vw;
        max-width: 200px;
        // border: 20px;
        -webkit-animation: inputfield 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    animation: inputfield 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    
    @-webkit-keyframes inputfield {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 20px 0px rgba(255, 255, 255, 2);
            box-shadow: 0 0 20px 0px rgba(255, 255, 255, 2);
        }
    }
    @keyframes inputfield {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 20px 0px rgba(255, 255, 255, 2);
            box-shadow: 0 0 20px 0px rgba(255, 255, 255, 2);
        }
    }
}

  


#mainSearchContainer{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
}
    
#searchButtonContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

.pagetitle{
    background-color: pink;
    color:black;
    width: 100vw;
    text-align: center;
    padding-top: 60px;
    float:left;
}