.SearchPageContainer{
    background-image: url("../img/bgimage1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%; }

button{
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        height: 35px;
        margin: 8px;
    }

.dothattest{
    background-color: lime;
}

.addingredienteffect{
    -webkit-animation: addingredienteffect 0.5s both;
            animation: addingredienteffect 0.5s both;


@-webkit-keyframes addingredienteffect {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes addingredienteffect {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
}



.dothateffect{
    -webkit-animation: button 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: button 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

    @-webkit-keyframes button {
        0% {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
          opacity: 1;
        }
      }
      @keyframes button {
        0% {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
          opacity: 1;
        }
      }
      
}

.searchParamDisplay{
        border: 2px solid rgba(255, 255, 255, 0.88);
        padding: 10px;
        margin: 10px;
    }

.menubutton {
        width: 100px;
        height: 50px;
        position: absolute;
        top: 5%;
        right: 5%;
        // background-color: red;
        background-image: url('../img/menuicon.png');
        background-repeat: no-repeat;
        background-size: cover;

    }


.searchPageButton{
        position: relative;
    }

    
.searchPage, .input {
        height: 35px;
        margin: 4px;
        width: 50vw;
        max-width: 200px;
        // border: 20px;
        -webkit-animation: inputfield 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    animation: inputfield 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    
    @-webkit-keyframes inputfield {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 20px 0px rgba(255, 255, 255, 2);
            box-shadow: 0 0 20px 0px rgba(255, 255, 255, 2);
        }
    }
    @keyframes inputfield {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 20px 0px rgba(255, 255, 255, 2);
            box-shadow: 0 0 20px 0px rgba(255, 255, 255, 2);
        }
    }
}

  


#mainSearchContainer{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
}
    
#searchButtonContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

.pagetitle{
    background-color: pink;
    color:black;
    width: 100vw;
    text-align: center;
    padding-top: 60px;
    float:left;
}